// Animations ____

.fade--active, .cart--active
  animation: active .4s forwards

.fade--disable, .cart--disable
  animation: disable .4s forwards


@keyframes active
  0%
    opacity: 0
    visibility: hidden
  100%
    opacity: 1
    visibility: visible

@keyframes disable
  0%
    opacity: 1
    visibility: visible
  100%
    opacity: 0
    visibility: hidden

// ____


.cart 
  position: fixed
  z-index: 2

.cart__fade
  width: 100%
  height: 100vh 
  position: fixed
  top: 0
  background-color: rgba(0,0,0, 0.5)
  border: none
  outline: none
  transition: display .4s
  display: flex
  z-index: 1

.cart__container
  align-items: center
  justify-content: center
  z-index: 2
  display: flex

  .cart__content
    margin: auto
    background-color: #F5F5F5
    display: flex
    flex-direction: column
      


.cart__header
  width: 100%
  background-color: #454545
  height: 60px
  display: flex
  align-items: center
  justify-content: center
  padding: 20px
  box-sizing: border-box
  position: relative
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)

  button 
    background-color: transparent
    border: none
    cursor: pointer
    position: absolute
    left: 20px
    height: 26px
    transition: transform .2s
    outline: none
    color: white

    &:hover
      transform: scale(1.1)
            
    
  p 
    text-transform: uppercase
    color: white  
    font-size: 18px





.cart__body
  width: 100%
  height: calc(100% - 170px)
  padding: 30px
  display: flex
  flex-direction: column
  box-sizing: border-box
  z-index: 2
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
  overflow-y: auto 
  overflow-x: hidden

  .cart__item
    width: 100%
    height: 180px
    border-bottom: 1px solid rgba(0,0,0,0.1)
    padding: 20px 0
    box-sizing: border-box
    display: flex

    &:first-of-type
      padding-top: 0

  .item__image
    width: 140px

    img 
      width: 100%
    
  
  .item__infos
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 20px
    width: calc(100% - 120px)

    .item__name
      span 
        color: #9A9A9A
        font-size: 0.6rem
      h3
        color: #1F1F1F
        font-size: 0.9rem
        text-transform: uppercase

    .item__price
      p
        font-size: 0.6rem
        color: #1F1F1F
      
      span 
        font-weight: bold
        font-size: 1rem

    .item__actions
      display: flex
      justify-content: space-between
      width: 100%

      .action__amount
        display: flex
        align-items: center

        span 
          font-size: 1rem
          padding: 0 8px
          color: #9A9A9A

        button 
          display: inline-flex
          justify-content: center
          align-items: center
          width: 22px
          height: 22px
          border: 1px solid #b9b9b9
          box-shadow: 0px 0px 5px rgba(0,0,0,0.05)
          background-color: white
          outline: none
          border-radius: 2px
          cursor: pointer
          transition: background .3s
          font-weight: bold
          color: #9A9A9A

          &:hover
            background-color: #f1f1f1
          &:active
            border-color: transparent
            background-color: #FF5555
            color: white

      .action__delete
        border: none
        background-color: transparent
        outline: transparent 
        color: #FF5555
        cursor: pointer
        transition: transform .3s

        &:hover 
          transform: scale(1.05)
        &:active
          transform: scale(0.99)
        
         

.alignItems 
  align-items: center
  justify-content: center


.cart__footer
  height: 170px
  width: 100%
  z-index: 1
  padding: 35px 20px
  box-sizing: border-box

  .cart__subtotal
    margin-bottom: 15px
    p 
      font-size: 15px
      color: #1f1f1f
      font-weight: bold
      text-transform: uppercase
    span
      font-size: 18px
      color: #9a9a9a
      font-weight: bold 
      margin-left: 5px
    
  .cart__finish
    width: 100%
    height: 50px
    background-color: #22cf86
    border: none
    font-size: 18px
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: center
    color: white
    font-weight: bold
    outline: none
    transition: transform .3s
    cursor: pointer

    &:hover
      transform: scale(1.02)

    .cart__check
      margin-left: 10px



@media ( max-width: 1024px )
  .cart__container
    position: fixed
    width: 100%
    height: 100vh

    .cart__content 
      position: fixed
      width: 95%
      height: 95vh



@media ( min-width: 1024px )

  .cart--active
    animation: activeSlide .4s forwards

  .cart--disable
    animation: disableSlide .4s forwards

  @keyframes activeSlide
    0%
      right: -200vh
      visibility: hidden
    100%
      right: 0
      visibility: visible

  @keyframes disableSlide
    0%
      right: 0
      visibility: visible
    100%
      right: -200vh
      visibility: hidden


  .cart__container
    height: 100vh 
    width: 380px 
    position: fixed
    right: 0
    top: 0

    .cart__content
      width: 100% 
      height: 100vh 
      position: relative
      right: 0
      top: 0
   